/*===fonts=== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
font-family: 'Formular';
src: local('../fonts/Formular Bold'), local('Formular-Bold'),
    url('../fonts/Formular-Bold/Formular-Bold.woff2') format('woff2'),
    url('../fonts/Formular-Bold/Formular-Bold.woff') format('woff'),
    url('../fonts/Formular-Bold/Formular-Bold.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}

/*===global styles===*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color:var(--text-color);
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding:0 10px;
  }

  /*==variables==*/
  :root {
    --white-color:#fff;
    --bg-color: #F1F1F1;
    --seconadry-color:#E6E6E6;
    --text-color: #222222;
    --state-color:#767676;
    --btn-color:#0656B4;
    --hover-btn-color:#0656B4;
    --input-color: #ABC8EA;
    --hover-color: #A7A7A7;
    --border-color:#D8D8D8;
    --bg-modal:#FBFBFB;
    --transition: all .5s ease-in-out;
  }

 /* ======header style start===== */
 .header {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--white-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    transition: var(--transition);
  }

  .top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .top__logo svg {
    margin-right: 32px;
  }
  .top__location {
    display: flex;
    align-items:center;
    cursor: pointer;
  }
  .top__location:hover  .top__location-svg{
    background-color: var(--bg-color);
    border:1px solid var(--bg-color);
  }
  .top__location-svg {
    width: 32px;
    height: 32px;
    display: flex;
    align-items:center;
    justify-content: center;
    border:1px solid var(--border-color);
    border-radius: 40px;
    margin-right: 8px;
    transition: var(--transition);
  }
  .top__location-local {
    text-overflow: ellipsis;
  }

  /* ======header style end===== */

  /* ======modal style start===== */
  .modal__wrapper {
    position: fixed;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 384px;
    /* height: 0; */
    left: 270px;
    opacity: 0;
    visibility: hidden;
    top: -20%;
    left: 14%;
    z-index: 4;
    overflow: auto;
    background-color: var(--bg-modal);
    border-radius:10px;
    box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  }
  .modal__wrapper.visible {
    position: fixed;
    width: 384px;
    height: auto;
    top:68px;
    left: 14%;
    z-index: 51;
    opacity: 1;
    visibility: visible;
    overflow: auto;
    background-color: var(--bg-modal);
    transition: var(--transition);
    border-radius:10px;
    box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  }
  .modal__header {
    position: relative;
    width: 100%;
    padding: 24px 16px 16px;
  }
  .modal__header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color:var(--border-color);

  }
  .modal__header #search {
    width: 100%;
    height: 48px;
    border: 2px solid var(--input-color);
    border-radius:100px;
    padding: 12px;
    padding-left: 24px;
    transition: var(--transition);
  }
  .modal__header #search::placeholder {
    color:var(--hover-color)
  }
  .modal__header #search:focus-visible {
    border: 2px solid var(--input-color);
    outline: none;
  }
  .modal__header #search:focus {
    box-shadow: 0 0 5pt 1pt var(--input-color);
  }
  .modal__search {
    position: relative;
  }
  .search__close {
    position: absolute;
    top:16px;
    right: 16px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }
  .search__close-visible {
    position: absolute;
    opacity: 1;
    visibility: visible;
    top:16px;
    right: 16px;
    transition: var(--transition);
  }
  .modal__city {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
    margin-top: 16px;
  }
  .modal__city-item {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border-color: var(--btn-color);
    background-color:var(--btn-color);
    color:var(--white-color);
    border-radius: 100px;
    padding: 9px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .modal__city-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .modal__city-item p, .modal__city-item span {
    color:var(--white-color);
  }
  .modal__city-item p {
    margin-right: 9px;
  }
  .modal__city-item span {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .modal__content {
    width: 100%;
  }
  .modal__list {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
  }
  .list__item {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 11px 16px;
    transition: var(--transition);
    text-transform: capitalize;
  }
  .list__item:hover {
    background-color:var(--bg-color);
    cursor: pointer;
  }
  .list__item span {
    display: block;
  }
  .list__city {
    color: var(--text-color);
  }
  .list__state {
    color: var(--state-color);
    font-size: 12px;
    line-height: 1.3;
  }
  .modal__footer {
    width: 100%;
    margin-top: 8px;
  }
  .modal__btn {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Formular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color:var(--white-color);
    background-color:var(--btn-color);
    cursor: pointer;
    transition: var(--transition);
  }
  .modal__btn:hover {
    background-color:var(--hover-btn-color);
    opacity: 0.9;
  }
  /* ======modal style end===== */